body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0b0b10;
  color: #f5f5f5;
}

header {
  background-color: #15152a;
  color: #f5f5f5;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav a {
  color: #f5f5f5;
  text-decoration: none;
}
.foto{
  width: 250px;
}

